HOST: str = "localhost"
PORT: int = 3000
WS_PORT: int = 8756

HASHTAG: str = "#CIN21"

# Twitter Details
TWITTER_API_KEY: str = ""
TWITTER_API_SECRET_KEY: str = ""
TWITTER_ACCESS_TOKEN: str = ""
TWITTER_ACCESS_TOKEN_SECRET: str = ""